PORT=
DATABASE_URL=
CLERK_SECRET_KEY=
CORS_ORIGIN=

AWS_S3_BUCKET=
AWS_S3_TRACKS_KEY="tracks/"
AWS_S3_ANALYSIS_KEY="analysis/"
AWS_S3_RECORDINGS_KEY="recordings/"
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

BACKEND_WEBHOOK_API_KEY=

LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

# Generate with: openssl rand -hex 32
ROOM_CODE_PEPPER_HEX=